#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2{
  font-size: 2.25em;
}

#task{
  cursor: pointer;;
}

#timer{
  button{
    margin: 10px;
  }
  #clock{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    margin: 30px;
    h1{
      font-size: 4em;
      margin: 10px;
      padding: 40px;
    }
  }
}

#to-do{
  input{
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 0.6em 1.2em;
  }
}

#to-do, #timer{
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.25em;
  }
}